.hide {
    display: none !important;
  }

  #save {
    width: 30%;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 2px 3px black;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    color: seashell;
    margin-bottom: 1%;
  }

  h1 {
    text-align: center;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
  }

  .container {
    height: 100%;
  }

  #login {
    width: 30%;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 2px 3px black;
  }

  #item {
    width: 80%;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 2px 3px black;
  }

  #user-name {
    width: 80%;
    margin: 10%;
    padding: 1%;
    border: 2px solid black;
    box-shadow: 2px 3px black;
  }

  .item-name {
    width: 70%;
    text-align: center;
  }

  .button-container {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
  }

  .list-item {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    border: 1px solid #888888;
    padding: 1% 0 1% 0;
  }

  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #28abb9;
  }

  #listContainer {
    background-color: honeydew;
    display: flex;
    border: 1px solid #000000;

    flex-direction: column;
  }

  #grocerry-form {
    display: flex;
    margin: 2% 0 2% 0%;
  }

  #loginContainer {
    animation-name: loginContainer;
    animation-duration: 1s;
    position: relative;
    height: 50%;
    background-color: honeydew;
    width: 25%;
    align-self: center;
    text-align: center;
    font-size: 3vh;
    border: 2px solid #888888;
    box-shadow: 5px 10px #888888;
  }

  @keyframes loginContainer {
    0% {
      background-color: honeydew;
      left: -100%;
      top: -100%;
    }

    100% {
      background-color: honeydew;
      left: 0%;
      top: 0%;
    }
  }

  img {
    width: 12%";
  }

  #required-field-user {
    font-size: small;
    color: black;
  }

  .message-container {
    font-size: larger;
  }

  #required-field, #warning-message, #existing-item {
      color: #000000;
  }